@media (min-width: 1200px) {
}
@media (min-width: 991px) and (max-width: 1200px) {
  .side-menu {
    .admin {
      .img-container {
        width: 70px !important;
        height: 70px !important;
        img {
          margin-top: 20px !important;
        }
      }
    }
    .btn-link {
      font-size: 14px !important;
      padding: 16px 0 8px;
      img {
        margin: 0 !important;
      }
    }
    img {
      margin: 0 !important;
    }
    a.nav-link {
      font-size: 14px !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 14px;
  }
  a {
    font-size: 14px !important;
  }
  button {
    font-size: 14px !important;
  }
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  .navbar-brand {
    font-size: 22px !important;
  }
  .main-header {
    position: relative;
    .logout {
      padding: 10px 25px !important;
    }
  }
}

@media (min-width: 575px) and (max-width: 767px) {
  html {
    font-size: 12px;
  }
  a {
    font-size: 12px !important;
  }
  button {
    font-size: 12px !important;
  }
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 14px;
  }
  h4 {
    font-size: 14px;
  }
  .navbar-brand {
    font-size: 18px !important;
  }
  header {
    .logout {
      padding-left: 0 15px !important;
    }
  }

  .statistics {
    // cards
    .card {
      .card-header {
        .dropdown {
          padding: 0 !important;
          margin: 0 auto !important;
          max-width: 50%;
          button {
            padding: 2px 5px !important;
          }
        }
      }
    }
    // end of cards
  }
  .main-header.mobile-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
}

@media (max-width: 575px) {
  html {
    font-size: 12px;
  }
  a {
    font-size: 12px !important;
  }
  button {
    font-size: 12px !important;
  }
  h1 {
    font-size: 16px;
  }
  h2 {
    font-size: 14px;
  }
  h3 {
    font-size: 12px;
  }
  h4 {
    font-size: 12px;
  }
  .navbar-brand {
    font-size: 14px !important;
  }
  .statistics {
    .card {
      height: 300px !important;
    }
  }
  .main-header.mobile-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
}
